body{
    width: 88%;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
}
#conteneur_logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}
#nav_hebergement, #nav_activites{
    border-top: 3px solid #0265FC;
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav_activites{
    border-top: 3px solid white;  
    width:80px;
}
#nav_activites:hover{
 border-top: 3px solid #0265FC;
}